@import "./../../styles/global";


.card-search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    border: 1px solid $clay;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__image {
        height: 100%;
        width: 100px;
    }

    &__block-data{
        padding: 12px 12px 12px 16px;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        box-sizing: border-box;
        justify-content: center;

        &--tittle {
            padding-bottom: 6px;
            margin: 0;
        }

        &--adress {
            @include label;
            color: $grey;
        }
    }
}

