@import '../../styles/global.scss';

.quests-page {
  background-color: $sky;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--title {
      color: $purple;
      padding: 40px 0;
      margin: 0;
    }
  }
    &__footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 24px 0;
      box-sizing: border-box;
      color: $purple;
  
      &--line {
        height: 1px;
        width: 60px;
        background-color: $purple;
      }
  
      &--title {
        margin: 0;
      }


    }
}

