@import "./../../styles/global";
.login-page {
    background-color: $sky;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: $purple;
        margin-top: 0;
        margin-bottom: 24px;
    }
    &__header {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./../../assets/images/Background.png);
        width: 100%;
        background-position-y: 86%;
        background-size: cover;
    }
    &__form-container {
        background-color: $white;
        width: 100%;
        border-radius: 16px 16px 0 0;
        box-sizing: border-box;
        padding: 24px;
        flex-shrink: 0;
    }
    &__signup {
        @include body;
        margin-bottom: 0;
        margin-top: 24px;
        span {
            color: $red;
        }
    }
}