$font-h1: 'Poppins-Black',
sans-serif;
$font-h2: 'Poppins-Bold',
sans-serif;
$font-h3: 'Poppins-Medium',
sans-serif;
$font-body: 'Poppins-Regular',
sans-serif;
$font-label: 'Poppins-Light',
sans-serif;
$font-button: 'Poppins-Regular',
sans-serif;
$red: #fe6363;
$yellow: #f4e06d;
$clay: #eaecff;
$sky: #c2deff;
$purple: #1d094e;
$grey: #8d8c94;
$black: #000000;
$white: #fcfcfc;
$margin-16px: 16px;
$margin-24px: 24px;
$margin-48px: 48px;
html,
body {
    background-color: $sky;
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: $purple;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Header */

.header {
    &__img--size {
        height: 163px;
        width: 86px;
    }
}


/*Form */

.container {
    background-color: $white;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    padding: 24px;
}

.container__form__p__span--link {
    margin-bottom: 93px;
}