html,
body {
  margin: 0;
}

.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__character {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 80px;
    position: absolute;
    bottom: 6%;

    @media screen and (min-aspect-ratio: 9/19) {
      top: auto;
      bottom: 0;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #8b9596;
    bottom: 0;

    &-container {
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;

      @each $i in [1, 2, 3, 4, 5] {
        &:nth-child(#{$i}) {
          transform: translateX(calc(100vw * calc((#{$i} - 3))));
        }
      }

      @media screen and (min-aspect-ratio: 9/19) {
        top: auto;
        bottom: 0;
      }
    }
  }

  &__virtual-card {
    width: calc(100vw - 48px);
  }

  &__wheel-card-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__card-container {
    margin: auto;
    transform: rotate(0deg);
    transform-origin: center 200%;
    width: fit-content;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
  }
}
