@import "./../../styles/global";

.shop-page {
  background-color: $white;

  &__button {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  &__image {
    width: 100vw;
    height: 250px;
  }

  &__heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $clay;
    border-radius: 50%;
    border: 4px solid $white;
    position: absolute;
    top: 250px;
    left: calc(100vw - 50px);
    transform: translate(-100%, -50%);

    i {
      font-size: 24px;
    }
  }

  &__data {
    padding: 24px;

    &--name {
      color: $purple;
      margin: 0 0 20px;
    }

    &--block-data {
      display: flex;
      align-items: center;
      color: $purple;

      &--data {
        display: flex;
        align-items: center;

        & svg {
          margin-right: 4px;
        }
      }

      &--data:first-child {
        margin-right: 8px;
      }
    }

    &--block-type {
      display: flex;
      margin-top: 12px;

      &--type {
        background-color: $clay;
        padding: 6px 12px;
        border-radius: 9999px;
        font-size: 10px;
        color: $grey;
      }

      &--type:not(:first-child) {
        margin-left: 8px;
      }

    }

    &--hourly {
      margin-top: 20px;
      display: flex;
      align-items: center;

      &--title {
        margin: 0;
      }
    }

    &--day {
      margin-top: 0.5rem;

      &--hourly {
        display: flex;
        justify-content: space-between;
        gap: 7rem;

        p {
          margin: 0;
        }

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        & > div {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    &--description-title {
      margin: 0;
      margin-top: 20px;
    }

    &--description-text {
      margin: 12px 0 0;
      padding-bottom: 104px;
    }
  }

}


