@import "./../../styles/global";

.shop-page {
  background-color: $white;

  h3 {
    margin: 20px 0 12px;
  }

  p {
    margin: 0;
  }

  &__back {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  &__cover {
    width: 100vw;
    height: 250px;
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $clay;
    border-radius: 50%;
    border: 4px solid $white;
    position: absolute;
    top: 250px;
    left: calc(100vw - 50px);
    transform: translate(-100%, -50%);

    i {
      font-size: 24px;
    }
  }

  &__data {
    padding: 24px;
  }

  &__name {
    color: $purple;
    margin: 0 0 20px;
  }

  &__stats {
    display: flex;
    align-items: center;
    color: $purple;

    & > div {
      display: flex;
      align-items: center;

      & svg {
        margin-right: 4px;
      }

      &:first-child {
        margin-right: 8px;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 8px;
    margin-top: 12px;
  }

  &__schedule {
    &s {
      margin-top: 0.5rem;
    }

    display: grid;
    grid-template-columns: 1.25fr repeat(2, 1fr);

    p {
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    & > div {
      display: contents;
    }
  }
}
