$font-h1: "Poppins-Black",
sans-serif;
$font-h2: "Poppins-Bold",
sans-serif;
$font-h3: "Poppins-Medium",
sans-serif;
$font-body: "Poppins-Regular",
sans-serif;
$font-label: "Poppins-Light",
sans-serif;
$font-button: "Poppins-Regular",
sans-serif;
$red: #fe6363;
$yellow: #f4e06d;
$clay: #eaecff;
$sky: #c2deff;
$purple: #1d094e;
$grey: #8d8c94;
$black: #000000;
$white: #fcfcfc;
$margin-16px: 16px;
$margin-24px: 24px;
$margin-48px: 48px;

/* .text-input {
    position: relative;
    font-size: 14px;
    margin-top: 20px solid transparent;
    --field-padding: 12px;
}

.text-input input {
    border: #EAECFF;
    flex-direction: row;
    align-items: center;
    background: #FCFCFC;
    padding: var(--field-padding);
    border-radius: 8px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.text-input .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #EA7373;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.text-input input+.placeholder {
    left: 8px;
    padding: 0 15px;
} */


/* Inputs */

.container__form {
    &__h2 {
        margin-bottom: $margin-24px;
    }
    &__text-input {
        outline: none;
        width: 100%;
        color: $black;
        background-color: $white;
        border: 1px solid $clay;
        border-radius: 8px;
        padding-left: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: $margin-24px;
        &::placeholder {
            color: $purple;
        }
        &:focus {
            border: 1px solid $black;
        }
    }
    &__button {
        margin-bottom: $margin-24px;
    }
    &__p__span--link {
        color: $red;
        text-decoration: underline;
    }
}