button {
    /* button */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 95px;
    height: 36px;
    border-style: none;
    border-radius: 4px;
    /* Text */
    color: #FFFFFF;
    /* Grapefruit */
    background: #FE6363;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}