@import "./../../styles/global";

button.text-button {
  @include button;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 12px 20px;

  border-style: none;
  border-radius: 8px;

  color: $white;
  background: $red;
}
